@media(max-width: 767px) {
  .page-wrapper {
    padding: ($base-size* 2) ($base-size);
  }

  .cart {
    right: $base-size * 2;
    top: $base-size * 14;
    width: 80%;

    .fa-shopping-cart {
      display: none;
    }
  }

  .h1 {
    font-size: 20px;
  }

  .product, .booking-wrapper {
    padding: ($base-size * 4) ($base-size * 2);

    &__icon {
      position: static;
    }

    &__wrapper {
      @include flex(column-reverse, center, space-between);

    }

    &__order {
      width: 100%;
    }

    &__images {
      width: 250px;
      height: 250px;

      img[class^="sauce-"] {
        height: 90%;
      }

      img[class*="toppings-"], img[class*="ingredients-"] {
        height: 80%;
      }
    }
  }

  .time-picker {
    @include flex(column, flex-start, space-between);
  }

  .hour-picker {
    width: 100%;
    margin-top: $base-size * 2;
  }

  .booking-options {
    flex-wrap: wrap;
  }

  .floor-plan {
    min-width: 70%;
    max-width: 100%;
    min-height: 270px;
  }

  .order-confirmation {
    input {
      margin: 5px;
    }
  }

  .checkbox {
    padding-left: ($base-size * 2);
  }

  .link-box-details {
    height: 110px;

    a, p {
      font-size: ($base-size);
      padding: 5px;
    }
  }

  .item {
    height: 250px;

    > * {
      margin: 0;
      height: 100%;
      padding: 0;
      width: 100%;

    }

    .carousel-picture {
      width: 100%;
      position: relative;
      opacity: 0.3;

    }

    .carousel-caption {
      width: 100%;
      position: absolute;
      left: 0;
      z-index: 2;
      color: $color-dark;
      text-shadow: 1px 1px 2px $color-dark;
      padding: 0 8px;
    }
  }

  .gallery-photo {
    flex: 0 0 48%;
    height: 150px;
  }

  .gallery-links {
    i {
      line-height: 130px;
    }
  }
}
